.topnav{
    font-family: 'Montserrat';
    font-size: 20px;
  }
  
  .tosca{
    background-color: #166174;
  }
  
  .topnav a:hover, .nav-active{
    background-color: #339ab2;
  }

  .menuactive a:hover{
    background-color: #339bb223;
  }
  
  .body{
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2.0;
    text-align: justify;
  }

  .footer i{
    margin: 10px 5px 10px 25px;
    font-size: 24px;
    color:rgba(255, 255, 255, 0.762);
  }
  .footer i:hover{
    color: #00A4BD;
  }
  .footer p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    font-family: 'Montserrat';
  }
  
  .bg-plblack{
    background-color: rgba(0, 0, 0, 0.328);
  }

  .codee{
    max-width: 60%;
  }

  pre{
    overflow: auto;
    white-space: pre-wrap;
  }

  .afterr{
    margin-top: -50px;
  }

  .beforee{
    margin-bottom: -20px;
  }

  .codee2{
    max-width: 75%;
  }

  .codee3{
    max-width: 95%;
  }
  
  .kanit{
    font-family: 'kanit', sans-serif;
  }
  
  .grey{
    background-color: rgba(133, 133, 133, 0.425);
  }
  
  .footer img{
    margin: 10px;
  }
  
  .nav-item{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .centerin2{
    text-align: right;
  }
  
  .underline11{
    border-bottom: 2px solid white;
  }

  .content2{
    padding-left:10%;
    padding-right: 10%;
  }

  td,th{
    padding: 50px;
  }


  .header{
    color:#339ab2;
  }
  
  .copy{
    font-family: 'montserrat';
    border: 0px;
    padding: 10px;
  }

  .btn-primary{
    background-color: #166174 !important;
    border: 0px !important;
  }

  .sidenavv {
    height: 100%; 
    margin-top: 70px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 0; 
    left: 0;
  }

  .sidenavv a{
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .sidenavv a:hover{
    background-color: #339ab2;
  }

  .sidenavv-active{
    padding: 15px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #339ab2 ;
  }

  .sidenavv a:hover{
    color: white;
  }

  .toc{
    border: 1px solid rgb(133, 133, 133);
    background-color: rgba(133, 133, 133, 0.302);
    width: fit-content;
    padding: 10px;
    padding-right: 20px;
  }

  .toc a{
    color: white;
  }

  .toc a:hover{
    color:#40c0dd;
  }

  .toch{
    color:#40c0dd;
  }

  #sub1, #sub2, #sub3, #sub4, #sub5, #sub6, #sub7{
    height: 80px;
  }

  .dummy{
    height: 150px;
  }

  .pagination a:hover{
    background-color: #1661745e;
    color: white;
  }

  .pagination a{
    color: white;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 5;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
    width: 50px;
    font-family: 'montserrat';
    transition: transform .2s;
  }
  
  #myBtn:hover {
    transform: scale(1.1);
    background-color: rgb(147, 147, 147);
  }

  .copy button{
    font-family: 'montserrat';
    border: 0px;
    padding: 7px 10px;
    border-radius: 20px;
    margin-top: -10px;
    transition: transform .2s;
  }

  .copy button:hover{
    transform: scale(1.1);
    background-color: rgb(147, 147, 147);
  }

  .copy{
    margin-top: -65px;
    margin-bottom: -60px;
    margin-left: -5px;
  }

  .kode{
    padding: 0;
    margin-top: -60px;
    margin-bottom: -50px;
  }

  .overflowed .kode{
    white-space: pre; 
    overflow-x: scroll;
  }
  
  .kode::-webkit-scrollbar {
    display: none;
  }
  
  .kode {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

  .cheatsheet a{
    color: #00A4BD;
    text-decoration: none;
  }

  .cheatsheet a:hover{
    color: #6ee6f8;
    text-decoration: underline;
  }

  .module{
    color:#339ab2;
  }
  
  .module:hover{
    color: rgb(41, 38, 38);
  }

  @media(max-width:1280px){
    .codee{
        max-width: 85%;
    }
    .codee2, .codee3{
        max-width: 100%;
    }
  }

  @media (max-width: 992px){
    .sidenavv a{
      margin-bottom: 5px;
    }
  }

  @media (max-width:768px) {
    .centerin{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .centerin2{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .codee{
        max-width: 100%;
    }
    object{
      height:400px;
    }
  }

  @media (max-width:380px) {
    #myBtn{
      width: 50px;
      font-size: 14px;
    }

  }


/*searchbar desktop*/
.findIcon{
  margin-top: 12px;
}
#ico2{
  display: none;
  margin-top: 10px;
}

#findA{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 12px;
}

#myInput2 {
  width: 180px;
  font-size: 16px;
  border: 1px solid #ddd;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin-left: 57%;
  position: fixed;
  overflow-y: scroll;
  max-height: 80vh;
  z-index: 3;
  font-family: Montserrat;
}

@media (min-width: 1851px){
  #myUL{
      max-height: 50vh;
  }
}

@media (max-width:1850px){
  #myUL {
      margin-left: 60%;
      max-height: 60vh;
  }
}
@media (max-width:1750px){
  #myUL {
      margin-left: 64%;
  }
} 
@media (max-width:1650px){
  #myUL {
      margin-left: 68%;
  }
} 
@media (max-width:1550px){
  #myUL {
      margin-left: 73%;
  }
} 
@media (max-width:1450px){
  #myUL {
      margin-left: 78%;
  }
} 
@media (max-width:1350px){
  #myUL {
      margin-left: 83%;
  }
} 

#myUL li a {
  border: 1px solid rgb(76, 77, 80);
  margin-top: -1px; 
  background-color: rgb(34,37,41);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: none;
  width: 210px;
  text-align: center;
}

#myUL li a:hover:not(.header) {
  background-color: rgb(76, 77, 80); 
}


@media only screen and (max-width: 1318px) {
  #myInput2 {
      display: none;
      width: 80px;
  }
}


/*searchbar mobile*/
.input-search{
  position: fixed;
  display: none;
  left: 0px;
  top: 10px;
  width: 100%;
  background-color: #166174;
  padding: 10px;
}

.input-search .ico {
  margin-top: 10px;
  float: left;
}
.input-search input {
  width: 100%;
  border: none;
}
.input-search div {
  margin-left: 20px; 
  border: 0px;
}

#findB{
  margin-right: 70vw;
}

@media (max-width:915px) {
  #findB{
      margin-right: 50vw;
  }
}
@media (max-width:552px) {
  #findB{
      margin-right: 35vw;
  }
}
@media (max-width:425px) {
  #findB{
      margin-right: 1vw;
  }
}

#myUL2 {
  list-style-type: none;
  padding: 0;
  position: fixed;
  overflow-y: scroll;
  max-height: 40vh;
  z-index: 6;
  width: 100%;
  position: fixed;
  font-family: 'Montserrat';
}

#myUL2 li a {
  border: 1px solid rgb(76, 77, 80);
  margin-top: -1px; 
  background-color: rgb(34,37,41);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: none;
  width: 100%;
  z-index: 7;
  text-align: center;
}

#myUL2 li a:hover:not(.header) {
  background-color: rgb(76, 77, 80); 
}