.topnav{
    font-family: 'Montserrat';
    font-size: 20px;
  }
  
  .tosca{
    background-color: #166174;
  }
  
  .topnav a:hover, .nav-active{
    background-color: #339ab2;
  }

  .menuactive a:hover{
    background-color: #339bb223;
  }
  
  .body{
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 2.0;
    text-align: justify;
  }

  .footer a:hover{
    padding: 5px;
    padding-bottom: 8px;
  }
  
  .footer p{
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .bg-plblack{
    background-color: rgba(0, 0, 0, 0.328);
  }

  .codee{
    max-width: 60%;
  }

  pre{
    overflow: auto;
    white-space: pre-wrap;
  }

  .afterr{
    margin-top: -40px;
  }

  .beforee{
    margin-bottom: -20px;
  }

  .codee2{
    max-width: 75%;
  }

  .codee3{
    max-width: 95%;
  }
  
  .kanit{
    font-family: 'kanit', sans-serif;
  }
  
  .grey{
    background-color: rgba(133, 133, 133, 0.425);
  }
  
  .footer img{
    margin: 10px;
  }
  
  .nav-item{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .centerin2{
    text-align: right;
  }
  
  .underline11{
    border-bottom: 2px solid white;
  }

  .content2{
    padding-left:10%;
    padding-right: 10%;
  }

  td,th{
    padding: 50px;
  }


  .header{
    color:#339ab2;
  }
  
  .copy{
    font-family: 'montserrat';
    border: 0px;
    padding: 10px;
  }

  .btn-primary{
    background-color: #166174 !important;
    border: 0px !important;
  }

  .sidenavv {
    height: 100%; 
    margin-top: 70px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 0; 
    left: 0;
  }

  .sidenavv a{
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .sidenavv a:hover{
    background-color: #339ab2;
  }

  .sidenavv-active{
    padding: 15px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #339ab2 ;
  }

  .sidenavv a:hover{
    color: white;
  }

  .toc{
    border: 1px solid rgb(133, 133, 133);
    background-color: rgba(133, 133, 133, 0.302);
    width: fit-content;
    padding: 10px;
    padding-right: 20px;
  }

  .toc a{
    color: white;
  }

  .toc a:hover{
    color:#40c0dd;
  }

  .toch{
    color:#40c0dd;
  }

  #sub1, #sub2, #sub3, #sub4, #sub5, #sub6, #sub7{
    height: 80px;
  }

  .dummy{
    height: 150px;
  }

  .pagination a:hover{
    background-color: #1661745e;
    color: white;
  }

  .pagination a{
    color: white;
  }
  
  @media(max-width:1280px){
    .codee{
        max-width: 85%;
    }
    .codee2, .codee3{
        max-width: 100%;
    }
  }

  @media (max-width: 992px){
    .sidenavv a{
      margin-bottom: 5px;
    }
  }

  @media (max-width:768px) {
    .centerin{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .centerin2{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .codee{
        max-width: 100%;
    }


  }