.topnav{
  font-family: 'Montserrat';
  font-size: 20px;
}

.tosca{
  background-color: #166174;
}

.topnav a:hover, .nav-active{
  background-color: #339ab2;
}

.body{
  font-family: Montserrat;
  padding-left: 20px;
  padding-right: 20px;
}

.footer a:hover{
  padding: 5px;
  padding-bottom: 8px;
}

.footer p{
  margin-top: 10px;
  margin-bottom: 0;
}

.bg-plblack{
  background-color: rgba(0, 0, 0, 0.137);
}

.grey{
  background-color: rgba(133, 133, 133, 0.425);
}

.footer img{
  margin: 10px;
}

.nav-item{
  margin-left: 10px;
  margin-right: 10px;
}

.centerin2{
  text-align: right;
}

.content1{
  line-height:2.6;
  text-align: justify;
}

.kanit{
  font-family: "kanit", sans-serif;
}

.header{
  color:#339ab2;
}


/*Introo*/
.intro {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #222529;
  transition: 1s;
  box-sizing: border-box;
  font-size: 52.5%;
  font-family: 'montserrat', sans-serif;
}

.intro img {
  top: 150px;
}

.intro p{
  color: #339ab2;
  font-size: 3rem;
  margin-top: 10px;
}

.logo {
  font-size: 2.5rem;
  color: #ffffff;
}

.logo-parts {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo-parts.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-parts.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.content{
  width: 100%;
  padding: 50px;
  font-size: 2rem;
}

.dummy{
  height: 50px;
}


/*Content top*/
.wrapper {
  background-image: url(all-time\ pict/bg.gif);
}

.gap{
  height: 8vw;
}

.mont1{
  font-family: 'Montserrat';
  margin-left: 5%;
  font-size: 2vw;
  line-height: 1.5;
}

.margin1{
  margin-bottom: 30px;
}

.mont-subra{
  font-family: 'Montserrat Subrayada';
  font-size: 6.5vw;
}

/*Text animation color*/
.text-animate {
  animation-name: change-color;
  animation-duration: 8s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  font-weight: 600;
  text-align: center;
}

@keyframes change-color {
  25% {
    color: #00A4BD;
  }
  50% {
    color: #339ab2;
  }
  75% {
    color: #166174;
  }
  100% {
    color: #ffffff;
  }
}


/*Feature section*/
.hover{
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.features img{
  height: 100px;
}
.feature_desc{
  display: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.feature{
  font-family: "Montserrat", sans-serif;
}
.features .dropdwn{
  padding: 10px;
}
#button22{
  padding: 10px;
}
.itemh a:hover{
  background-color: #339ab2;
}


/*Tabbed content*/
.tab-active{
  background-color:rgba(133, 133, 133, 0.425);
  transform: perspective(10px) rotateX(1deg);
}
.tabs div{
  display: inline-block;
  padding: 12px;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.304);
  width: 100px;
  text-align: center;
  border-bottom: none;
  margin-right: 5px;
}


/*Swiper*/
.swiper {
  width: 70%;
}

.swiper-slide {
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


/*Contact us*/
.submitt{
  border: 0px;
  padding: 7px;
  font-size: 18px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.submitt:hover{
  background-color: #339ab2;
}


/*Responsive*/
@media (max-width:768px) {
  .centerin{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .centerin2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .buttonn1{
    margin-bottom: 15px;
  }

  .bigcontent{
    padding-left: 0;
  }

  .dummy{
    height: 40px;
  } 

  .mont1{
    font-size: 3vw;
  }

  .imagebreak{
    width: 15%;
  }
}

@media (max-width: 552px){
  .dummy{
      height: 0px;
  }
  .mont1{
    font-size: 5vw;
  }
}

@media (max-width:993px) {
  .swiper, .break500{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  .submitt{
    font-size: 18px;
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 367px){
  .tabs div{
    padding: 5px ;
    font-size: 16px;
    width: 70px;
    margin-right: 2px;
  }
}