.topnav{
    font-family: 'Montserrat';
    font-size: 20px;
}

.tosca{
    background-color: #166174;
}

a:hover, .nav-active{
    background-color: #339ab2;
}

.header{
    color: #339ab2;  
}

.header2{
    color:#68a5b6;
}

.body{
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.8;
}

.footer a:hover{
    padding: 5px;
    padding-bottom: 8px;
}

.footer p{
    margin-top: 10px;
    margin-bottom: 0;
}

.bg-plblack{
    background-color: rgba(0, 0, 0, 0.328);
}

.kanit{
    font-family: 'kanit', sans-serif;
}

.grey{
    background-color: rgba(133, 133, 133, 0.425);
}

.ans{
    background-color: rgba(128, 128, 128, 0.802);
}

.footer img{
    margin: 10px;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.centerin2{
    text-align: right;
}

.underline11{
    border-bottom: 2px solid white;
}

.page{
    text-align: center;
    width: 60%;
    margin-left:auto;
    margin-right: auto;
}

.faq{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    z-index:1;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.581);
}
  
.answer{
    padding: 15px;
    font-size: 20px;
    border-top: none;
    margin-top: -3px;
}

.faqact{
    border:1px solid #68a5b6;
    background-color: #166174;
    font-weight: bolder;
}

@media (max-width:768px) {
    .centerin{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .centerin2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .page{
        width: 95%;
    }
    

}

@media (max-width:410px) {
    
}