.topnav{
    font-family: 'Montserrat';
    font-size: 20px;
}

.tosca{
    background-color: #166174;
}

.topnav a:hover, .nav-active{
    background-color: #339ab2;
}

.header{
    color: #339ab2;  
}

.header2{
    color:#68a5b6;
}

.body{
    font-family: Montserrat;
    line-height: 2.0;
}

.footer i{
    margin: 10px 5px 10px 25px;
    font-size: 24px;
    color:rgba(255, 255, 255, 0.762);
}

.footer i:hover{
    color: #00A4BD;
}

.footer p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.bg-plblack{
    background-color: rgba(0, 0, 0, 0.328);
}

.kanit{
    font-family: 'kanit', sans-serif;
}

.grey{
    background-color: rgba(133, 133, 133, 0.425);
}

.footer img{
    margin: 10px;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.centerin2{
    text-align: right;
}

.underline11{
    border-bottom: 2px solid white;
}


.column1{
    background-color: rgba(133, 133, 133, 0.616);
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

.column1_after{
    background-color: rgba(220, 220, 220, 0.723);
    border-radius: 3px;
    border: 3px solid #166174;
}

.column2{
    padding-top: 10px;
    text-align: left;
}

.afterrh{
    margin-top: -100px;
}

.beforeeh{
    margin-bottom: -100px;
}

.afterr{
    margin-top: -40px;
}

.beforee{
    margin-bottom: -20px;
}

.dummy{
    height: 600px;
}

.convert, .reset{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
    border-radius: 30px;
    background-color: #166174;
}

.convert:hover , .reset:hover{
    background-color: #339ab2;
}

.leftside{
    float:left;
    background-color: rgba(133, 133, 133, 0.455);
    padding-bottom: 30px;
}

.rightside{
    float: right;
    background-color: rgba(133, 133, 133, 0.455);
}

.lefttext, .righttext{
    margin-top: 10px;
    font-family: 'kanit',sans-serif;
    color: gainsboro;
    text-align: center;
}

#nav{
	border-radius: 3px;
    background-color: rgba(133, 133, 133, 0.616);
    height: 50px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}	

#nav li{
	list-style: none;
	display: block;
	text-align: center;
	height: 40px;
	position: relative;
    width:max-content;
}

#nav li a{
	margin: 0px 0;
	line-height: 40px;
	height: 40px;
    color: rgba(255, 255, 255, 0.914);
    text-decoration: none;
    padding: 0 5px 0 5px;
    text-align: left;
}

.buttons a{
	margin: 0px 0;
	line-height: 40px;
	height: 40px;
    color: rgba(255, 255, 255, 0.914);
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

.mnlala2, .mnlala3{
    margin-left: 30%;
}

#nav ul{
	padding: 0px;
    background-color: #222529;
    border-radius: 5px;
}

#nav li a{
	display: block;
}
#nav ul li {
	background-color:#222529;
	width:220px;
	height:39px;
    border-radius: 5px;
    padding:3px;
}

/* Sub menus */
#nav ul{
	display: none;
    visibility:hidden;
	position: absolute;
	top: 40px;
    border-radius: 5px;
}

/* Third-level menus */
#nav ul ul{
	top: 20px;
	left:150px;
	display: none;
    visibility:hidden;
	background-color: #222529;
    border-radius: 5px;
    z-index:3;
    padding: 5px;
    padding-bottom: 8px;
}

#nav ul li{
	display: block;
    visibility:visible;
}

#nav li:hover > ul{
	display: block;
    visibility:visible;
    background-color: #222529;
    border: 1px solid rgba(133, 133, 133, 0.375);
}

.centerin3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttons a:hover{
    background-color: rgba(133, 133, 133, 0.616);
}

.activ{
    border: 1px solid white;
    border-radius: 5px;
}

#nav i{
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menulala2 a:hover, .menulala3 a:hover, .menulala1 a:hover{
    background-color: #339bb2a1;
}

.fliparrow{
    transition: 1.2s;
	transform-style: preserve-3d;
}

.flippp{
    transform: rotateY(180deg);
}

@media (max-width:768px) {
    .centerin{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .centerin2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #nav ul ul{
        top: 40px;
        left:50px;
    }

    .mnlala2 ul, .mnlala3 ul{
        left: 35%;
    }
}

@media (max-width:410px){
    .mnlala2 ul, .mnlala3 ul{
        left: 28%;
    }
}

@media (max-width:992px) {
    .first_column{
        margin-bottom: 20px;
    }

    .naikk{
        z-index: 2;
    }

    .flipping i{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dummy{
        height: 50px;
    }

    .mnlala2, .mnlala3{
        margin-left: 40%;
    }
}

