.topnav{
  font-family: 'Montserrat';
  font-size: 20px;
}

.tosca{
  background-color: #166174;
}

.topnav a:hover, .nav-active{
  background-color: #339ab2;
}

.menuactive a:hover{
  background-color: #339bb223;
}

.body{
  font-family: Montserrat;
  padding-left: 20px;
  padding-right: 20px;
}

.footer a:hover{
  padding: 5px;
  padding-bottom: 8px;
}

.footer p{
  margin-top: 10px;
  margin-bottom: 0;
}

.bg-plblack{
  background-color: rgba(0, 0, 0, 0.328);
}

.grey{
  background-color: rgba(133, 133, 133, 0.425);
}

.footer img{
  margin: 10px;
}

.nav-item{
  margin-left: 10px;
  margin-right: 10px;
}

.centerin2{
  text-align: right;
}

.content1{
  line-height:2.6;
  text-align: justify;
}

.bigcontent{
  padding-left: 5%;
}

.bigcontent1{
  padding-right: 5%;
  padding-left: 5%;
}

.buttonn{
  margin-top: 7px;
}

.kanit{
  font-family: "kanit", sans-serif;
}

.arrow-button {
  display: flex;
  color: white;
  background-color: #166174;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  padding:2px 10px 2px 10px;
  border: 1px solid gray;
  margin-top: 15px;
}

.arrow-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrow-button:hover {
  background-color: #339ab2;
  color: #fff;
}

.header{
  color:#339ab2;
}


@media (max-width:768px) {
  .centerin{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .centerin2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .buttonn1{
    margin-bottom: 15px;
  }

  .bigcontent{
    padding-left: 0;
  }
}

@media (max-width:993px) {
  .break500{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}