.topnav{
    font-family: 'Montserrat';
    font-size: 20px;
}

.tosca{
    background-color: #166174;
}

a:hover, .nav-active{
    background-color: #339ab2;
}

.header{
    color: #339ab2;  
}

.header2{
    color:#68a5b6;
}

.body{
    font-family: Montserrat;
}

.footer a:hover{
    padding: 5px;
    padding-bottom: 8px;
}

.footer p{
    margin-top: 10px;
    margin-bottom: 0;
}

.bg-plblack{
    background-color: rgba(0, 0, 0, 0.328);
}

.kanit{
    font-family: 'kanit', sans-serif;
}

.grey{
    background-color: rgba(133, 133, 133, 0.425);
}

.footer img{
    margin: 10px;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.centerin2{
    text-align: right;
}

.underline11{
    border-bottom: 2px solid white;
}


.column1{
    background-color: rgba(133, 133, 133, 0.616);
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column2{
    background-color: rgba(186, 185, 185, 0.616);
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dummy{
    height: 200px;
}

.convert{
    padding: 10px;
    border-color: #166174;
}


@media (max-width:768px) {
    .centerin{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .centerin2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:992px) {
    .first_column{
        margin-bottom: 20px;
    }

    i{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dummy{
        height: 50px;
    }
}

