.topnav{
    font-family: 'Montserrat';
    font-size: 20px;
}

.tosca{
    background-color: #166174;
}

a:hover, .nav-active{
    background-color: #339ab2;
}

.header{
    color: #339ab2;  
}

.header2{
    color:#68a5b6;
}

.body{
    font-family: Montserrat;
    padding-left: 20px;
    padding-right: 20px;
}

.footer a:hover{
    padding: 5px;
    padding-bottom: 8px;
}

.footer p{
    margin-top: 10px;
    margin-bottom: 0;
}

.bg-plblack{
    background-color: rgba(0, 0, 0, 0.328);
}

.kanit{
    font-family: 'kanit', sans-serif;
}

.grey{
    background-color: rgba(133, 133, 133, 0.425);
}

.footer img{
    margin: 10px;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.centerin2{
    text-align: right;
}

.underline11{
    border-bottom: 2px solid white;
}

.buttonn{
    margin-top: 5px;
}


/*Flashcardsss*/
.flip {
    width: 50%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    max-height: 350px;
    line-height: 2.0;
} 

.flip .back {
    background: #c8c8c8;
    color: black;
    text-align: center;
    padding: 20px;
    
}

.flip .front{
    background-color: rgba(133, 133, 133, 0.616);
    color: white;
}

.flip .kk{
    overflow-y: scroll;
    max-height: 350px;
}

.kk::-webkit-scrollbar {
    display: none;
}
  
.kk {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.cap{
    text-align: center;
}

.buttonprev, .buttonnext{
    border-radius: 50%;
    border:none;
}

button:hover{
    background-color:#c8c8c8b3;
}

.dummy{
    height: 400px;
}


/*Video Card Sliderrr*/
.learn{
    padding: 10px;
    border-radius: 10px;
}

.card11:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486), 0 6px 20px 0 rgba(0, 0, 0, 0.52);
}

.card11 a{
    color: white;
    text-decoration: none;
}

.card11 a:hover{
    background-color: rgba(0,0,0,0);
}

@media (min-width:1100px){
    
}

@media (max-width:880px) {
    .flip .kk{
        max-height: 150px;
    }
    
}

@media (max-width:768px) {
    .centerin{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .centerin2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .flip {
        width: 80%;
    }

    .flip .kk{
        max-height: 160px;
    }

}

@media (max-width:410px) {
    .flip .kk{
        max-height: 80px;
        font-size: 0.9rem;
    }
}